.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_freeze/

/.luarc.json

/.vscode/

slides/lessons
slides/*.html

/docs/
!/docs/.gitkeep

/old
**/*.quarto_ipynb

exercises/*.pdf
exercises/*.tex
exercises/*.log

*.html

/site_libs/
